<?xml version="1.0" ?>
<!-- set frontname as demo. so we can access our template using storeUlr/demo/ControllerfoldeName/actionPhp -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="demo" id="demo">
            <module name="AvvyTest_FirstAvvysModule"/>
        </route>
    </router>
</config>